<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>USER REGISTER PAGE</h2>
<form action="/get" method="GET">
<pre>
NAME     :<input type="text" name="name"/>
EMAIL    :<input type="text" name="email"/>
PASSWORD :<input type="password" name="pwd"/>
ROLES    :
			<input type="checkbox" name="roles" value="ADMIN" /> ADMIN
			<input type="checkbox" name="roles" value="EMPLOYEE" /> EMPLOYEE
			

	<input type="submit" value="Add User"/>



</pre>
</form>
<div th:text="${message}"></div>
</body>
</html>